// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #04277B;
$yellow: #FDB631;
$orange: #E67E22;
$green: #6DBB4C;
// $green: #52BA5C;
$gray: #1f1f1f;
$light-gray: #696969;
$light-green: #8EE4AF;
$beige: #EDF5E1;
$dark-green: #379683;


