


<section class="h-100">
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12" >

    <section id="content-receipt" class="clearfix">
      <div id="receipt-container">
        <div class="dotmatrix left"></div>
        <div id="receipt-content">
          <h4 id="receipt-title">Thank You!</h4>
          <p><strong>RECEIPT</strong></p>
          <div id="receipt-details" class="row clearfix">
            <div class="col-sm-8 receipt-left">
              <p><strong>Votre weed va bientôt arriver</strong></p>
            </div>
            <div class="col-sm-4">
             
             
        
            </div>
          </div>

          


          <button type="submit" class="btn btn-primary"><%= link_to 'Checkout', checkout_path %></button> 
          <footer id="receipt-footer">
            <small>Your purchase is complete. We hope you enjoy it!</small>
          </footer>
        </div>
        <div class="dotmatrix right"></div>
      </div>
      <div id="receipt-shadow"></div>
    </section>
  </div>

  </div>
  </div>

</section>





