/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
 
  color: rgb(60, 118, 61);
  background-color: rgb(223, 240, 216);
  border-color: rgb(60, 118, 61);
}
.alert-warning {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}

