<div class="container">
  <h1>Admin Dashboard</h1>
  <li>

  <li><%= link_to 'Admin Produits', admin_categories_path %></li>
  <li><%= link_to 'Admin Users', admin_users_path %></li>
  <li><%= link_to 'Admin Achats', admin_purchases_path %></li>
  <li><%= link_to 'Admin Achats non envoyés', admin_purchases_path %></li>

  
</div>